* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: "Beau Rivage", cursive;

}


body {
   
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    background: #000;
}
.nav {
    margin: 5px;
    justify-content: center;
    align-items: center;

    background: #000;
}
.nav a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

button {
    position: relative;
    padding: 10px 20px ;
    border-radius: 7px;
    border: 1px solid rgb(45, 13, 13);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    
}
button:hover {

    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
}
@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.nav .icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .nav button:not(:first-child) {display: none;}
    .nav button.icon {
        float: right;
        display: block;
    }  
    .nav a.icon {
        float: right;
      margin: 10px;
        display: block;
    }
   
}
 @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive button {
        float: none;
        display: block;
        text-align: left;
    }
   
 }
 .home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    float: right;
 }
 #home {
    margin: auto;
   
}


 .cube {
       width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;

 }
 @keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg) ;
       
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
       
    }
 }
 .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
 }
 .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i)))translateZ(150px);
    animation: ani 5s linear infinite;
    
 }
 @keyframes ani {
    0% {
        background: linear-gradient(#151515,#00ec00);

    }
    100% {
        background: linear-gradient(#151515,#ec0000);
    }
 }

 .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
 }
 .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(3, 3, 3);
    transform: translateZ(-400px);
    filter: blur(20px);
    animation: an 5s linear infinite;
 }
 @keyframes an {
    0% {
        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);

    }
    100% {
        box-shadow: 0 0 120px rgba(255, 0, 0, 0.2), 
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgb(255, 0, 0);
    }
 }



 
 .home1 {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
  
    
 }
 .home1 h1 {
   align-items: left;
   justify-content: center;
   
  font-family: "Beau Rivage", cursive;
   
    
    color: white;
    font-size: 60px;

 }
 #home1 {
    margin: auto;
   
}


 .cube1 {
       width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;

 }
 @keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg) ;
       
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
       
    }
 }
 .cube1 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
 }
 .cube1 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i)))translateZ(150px);
    animation: ani 5s linear infinite;
    
 }
 @keyframes ani {
    0% {
        background: linear-gradient(#151515,#00ec00);

    }
    100% {
        background: linear-gradient(#151515,#ec0000);
    }
 }

 .top1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
 }
 .top1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(3, 3, 3);
    transform: translateZ(-400px);
    filter: blur(20px);
    animation: an 5s linear infinite;
 }
 @keyframes an {
    0% {
        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);

    }
    100% {
        box-shadow: 0 0 120px rgba(255, 0, 0, 0.2), 
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgb(255, 0, 0);
    }
 }

 @media screen and (max-width: 1024px) {
  .home div {
    display: none;
  }
  .home1 .cube1 {
    display: none;
    
   
  }
  .home1 h1 {
    position: sticky;
    align-items: center;
    font-size: 40px;
    font-family: "Beau Rivage", cursive;
  }
 

 
 }

